<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Spring_MVC</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <!-- You have to write it correctly | "servlet-name" can be anything like "abc,xyz,dispatcher etc"  -->
  <!-- "servlet-class" is same for every Spring MVC project | "url-pattern" should be "/" -->
  
  <servlet>   
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>dispatcher</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
  
</web-app>